body {
    font-family: Arial;
    background: #f4f4f4;
}

nav {
    background: #333;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.container {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    border-radius: 5px;
}

input, button {
    padding: 8px;
    margin: 5px 0;
    width: 100%;
}

button {
    background: #333;
    color: white;
    border: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

.flash {
    color: green;
}
